{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
<ul>
    {% for auction in auctions %}
      {% if auction.status != "Sold" %}
      <li>
        <h3><a href="{% url 'auctions:listing_page' auction.auction_id %}">{{ auction.auction_name }}</a></h3>
        {% if auction.item_image%}
        <style>
          img {
            max-height: 512px;
            max-width: 100%;
            height: auto;
          }
        </style>
        <img src="{{auction.item_image}}" alt="Item Image">
        {% endif %}
        <h4>{{ auction.item_name }}</h4>
        <p><strong>Current Price: </strong>${{ auction.current_bid }}</p>
        <p><strong>Description: </strong>{{ auction.item_description }}</p>
        <small>Created: {{ auction.listing_creation_time }}</small>
      </li>
      -------------------------------------
      {% endif %}
    {% endfor %}
</ul>
{% endblock %}
