{% extends "auctions/layout.html" %} {% block body %}

<h1>{{ a.auction_name }}</h1>

{% if a.item_image %}
<style>
  img {
    max-width: 100%;
    height: auto;
  }
</style>
<img src="{{ a.item_image }}" alt="Item Image" />
{% endif %}

<h2>{{ a.item_name }}</h2>
<h4>Categories: {{ a.item_category }}</h4>
<p>{{ a.item_description }}</p>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if a not in user.watchlist.all %}
<form action="{% url 'auctions:watchlist' %}" method="post">
  {% csrf_token %}
  <input type="submit" name="add_watchlist" value="Add To Watchlist">
  <input type="hidden" name="auction_id" value="{{a.auction_id}}">
</form>
{% endif %}

{% if a in user.watchlist.all %}
<form action="{% url 'auctions:watchlist' %}" method="post">
  {% csrf_token %}
  <input type="submit" name="remove_watchlist" value="Remove From Watchlist">
  <input type="hidden" name="auction_id" value="{{a.auction_id}}">
</form>
{% endif %}

{% if a.status != "Sold" %}
  {% if a.current_bid_by is None %}
    <p><strong>Starting Bid: ${{ a.starting_bid }}</strong></p>
  {% else %}
    <p><strong>Current Bid: ${{ a.current_bid }}</strong></p>
  {% endif %}

  {% if message_bid %}
    <p>{{ message_bid }}</p>
  {% endif %}

  {% if user.is_authenticated %}
<form action="{{ a.id }}" method="post">
    {% csrf_token %}
    <input type="text" name="bid" placeholder="Enter an amount to bid">
    <input type="submit" name="submit" value="Place Bid">
  </form>
  {% endif %}
{% else %}
  <p><strong>Item "{{ a.item_name }}" sold by user {{ a.listed_by }} at the price of ${{ a.current_bid }} to user {{ a.sold_to }}</strong></p>
{% endif %}

{% if user.is_authenticated %}
  <form method="post" action="comment">
    {% csrf_token %} 
    <div class="form-group"
        <label for="comment">Comment:</label>
        <textarea class="form-control" name="comment_content" placeholder="Write your comment here..." rows="4"></textarea>
    </div>
    <input type="submit" name="submit" class="btn btn-primary" value="Comment">
    <input type="hidden" name="auction_id" value="{{ a.auction_id }}">
  </form>

  {% if a.sold_to == user and a.status == "Sold" %}
  <h2><strong>Congratulations!!</strong> You have Won this bid!</h2>
  {% endif %}

  {% if a.listed_by == user and a.status != "Sold" %}
-----------------------------|
  <form method="post" action="close">
    {% csrf_token %}
    <input type="submit" name="close_bid" value="Close Bid" class="btn btn-primary">
    <input type="hidden" name="auction_id" value="{{ a.auction_id }}">
  </form>
-----------------------------|
  {% endif %}
{% endif %}

{% if message_comment %}
<p>{{ message_comment }}</p>
{% endif %}

{% if comments %}
<ul>
{% for comment in comments %}
  <li class = "comments"><strong>{{ comment.comment_by }}</strong> commented: <textarea readonly rows="" cols="">{{ comment.comment_content }}</textarea> </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
